streamlit

numpy
pandas
requests
python-dotenv

torch
transformers
accelerate
sentence-transformers

langchain
langchain-community
langchain-text-splitters

chromadb
faiss-cpu

openai
ollama

PyMuPDF
pypdf
python-docx
reportlab

opencv-python
Pillow
pytesseract
easyocr

beautifulsoup4
lxml

rich
tqdm

Werkzeug
